.App {
  text-align: center;
}

.questtable, th, tr {
  font-family: 'Friz Quadrata Std', sans-serif;
  width: auto;
  border: 3px solid;
  border-color: #EDB852;
  color:#c2b191;
  text-shadow: 2px 2px #000000;
  font-size: 20px;
  margin-left: auto;
  margin-right: 100px;
  margin-top: 100px;
  background: #1d1c1c;
  table-layout: fixed;
  border-collapse: collapse;
  
}
.traderquesttitle{
  margin-top: 0px;
  width: 50%;
  float: right;
}
.tdrtitleimg{
  width: 50%;
  float: left;
  box-sizing: border-box;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
}
.questtitle {
  display: flex;
  font-size: 40px;
  margin-left: auto;
  margin-right: 100px;
  margin-top: 25px;
  position: absolute;
  text-decoration: none;
  font-family: 'Friz Quadrata Std', sans-serif;
  color:#EDB852;
  text-shadow: 2px 2px #000000;
}
.traderdesc{
  font-size: 20px;
  width:500px;
  margin-left: 50px;
  text-decoration: none;
  font-family: 'Friz Quadrata Std', sans-serif;
  color:#EDB852;
  text-shadow: 2px 2px #000000;
}
.thtitle{
  text-align: center;
  width: auto;
  margin-left: 0px;
  margin-right: auto;
}
.questWiki{
  font-size: 10px;
  text-decoration: none;
  font-family: 'Friz Quadrata Std', sans-serif;
  color:#EDB852;
  text-shadow: 2px 2px #000000;
}

.traderpageimg {
  width: 700px;
  margin-left: 10px;
  margin-top: 20px;
  border: 4px solid #EDB852;
  align-items: left;
  
}
.tdrtitle {
  padding-top: 0px;
  padding-bottom: 100px;
  font-family: 'Friz Quadrata Std', sans-serif;
  font-size: 30px;
  margin-left: 10px;
  color:#a87e2e;
  width: 700px;
  text-shadow: 3px 3px #000000;
  z-index: -1;
}
.navbar{
  background-color: #000000;
  overflow: auto;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 100px #413d34, 0 0 6px hsl(40deg 73% 66% / 80%);
  align-items: center!important;
}
#detach-button-host {
  display: none;
}


.navbar a {
  list-style-type: none;
  float: left;
  margin-left: 100px;
  text-shadow: 1px 1px #383838;
  text-align: center;
  color:#EDB852;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
  align-items: center!important;
}



.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.navbar a.logout {
  float: right;
  margin-right: 30px;
}
.trader-image {
  width: 300px;
  border: 2px solid #EDB852;
  height: 180px;
}
.card-wrapper {
  width: 98.97%;
  display: grid;
  margin-left: 75px;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  }
.twitter-widget-holder {
    float: right;
    margin-right: 100px;
    margin-top: 100px;
  }
.map-image {
    width: 300px;
    border: 4px solid #EDB852;
    height: 180px;
  }
.armor-image{
    
    border: 2px solid #EDB852;
    
  }
.ammo-wrapper {
    width: 98.97%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 50px;
    padding-top: 150px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
    position: absolute;
  }
.mappageimg {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 4px solid #EDB852;
    display: flex;
    align-items: center;
    box-shadow: 0 0 100px #000000, 0 0 6px hsl(40deg 73% 66% / 80%);
}

.mapname {
  font-family: 'Friz Quadrata Std', sans-serif;
  text-shadow: 3px 3px #000000;
  color:#EDB852;
  text-decoration: none;
  font-size: 40px;
  text-align: center;
}
.mapdisplaybg {
  background-image: url('https://cdn.discordapp.com/attachments/1007749002248327178/1011721302433869925/shoreline-road-at-railbridge-extract.webp' );
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
}
.mapName{
  color:#EDB852;
  font-family: 'Friz Quadrata Std', sans-serif;
  text-shadow: 3px 3px #000000;
  font-size: 22px;
}

.commentcard {
  text-align: center;
}

.commentcard h2 {
  color:#EDB852;
  font-family: 'Friz Quadrata Std', sans-serif;
  text-shadow: 3px 3px #000000;
  font-size: 22px;
}

.commentcard p {
  font-size: 15px;
  font-family: 'Friz Quadrata Std', sans-serif;
  width: 400px;
  height: max-content;
  background-color: #000000;
  color: #c2b191;
  border: solid 1px #a37e38;
  padding-left:10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
 .editbutton {
  font-family: 'Friz Quadrata Std', sans-serif;
  color:#c2b191;
  background: #232525;
  border-color: #EDB852;
  height: 28px;
  width: 60px;
  text-shadow: none;
  font-size: 14px;
  cursor: pointer;
 }

 .deletebutton {
  margin-left: 15px;
  font-family: 'Friz Quadrata Std', sans-serif;
  color:#c2b191;
  background: #232525;
  border-color: #EDB852;
  height: 28px;
  width: 70px;
  text-shadow: none;
  font-size: 14px;
  cursor: pointer;
 }



 .editme input {
  height: 28px;
  width: 260px;
  background-color: #000000;
  color: #c2b191;
  border: solid 1px #a37e38;
  padding-left:10px;
  padding-right: 10px;
  font-size: 15px;
 }
 
 .editme button {
  margin-left: 10px;
  font-size: 15px;
  width: 75px;
  height: 30px;
 }
.comment {
  text-align: center;
}
.commentdiv {
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.commentheader {
  font-family: 'Friz Quadrata Std', sans-serif;
  text-shadow: 2px 2px #000000;
  color:#EDB852;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}
.bgmapimg{
background-image: url('https://cdn.discordapp.com/attachments/1007749002248327178/1011721302433869925/shoreline-road-at-railbridge-extract.webp' );
background-size: cover;
height: 100vh;
overflow-y: scroll;
position: absolute;
width: 100%;
}

.ammo-link {

    text-decoration: none;
    font-size: 20px;
    font-family: 'Friz Quadrata Std', sans-serif;
    color:#EDB852;
    text-shadow: 2px 2px #000000;
  }
.signupbox {
    font-family: 'Friz Quadrata Std', sans-serif;
    color:#EDB852;
    text-align: center;
    padding-top: 10px;
    text-shadow: 2px 2px #000000;
    }
.signupbox h1 {
      font-size: 50px;
      }
.loginbox {
        font-family: 'Friz Quadrata Std', sans-serif;
        color:#EDB852;
        text-align: center;
        padding-top: 10px;
        text-shadow: 2px 2px #000000;
}
.loginbox h1 {
          font-size: 50px;
}

input[type="text"]
      {
        font-size: 20px;
        font-family: 'Friz Quadrata Std', sans-serif;
        width: 200px;
        background-color: #000000;
        color: #c2b191;
        border-color: #EDB852;
        padding-left:5px;
        padding-right: 5px;
      }
input[type="password"]
  {
  font-size: 20px;
  font-family: 'Friz Quadrata Std', sans-serif;
  width: 200px;
  background-color: #000000;
  color: #c2b191;
  border-color: #EDB852;
  padding-left:5px;
  padding-right: 5px;
  }
  input[type='submit']
  {
    font-family: 'Friz Quadrata Std', sans-serif;
    color:#c2b191;
    background: #232525;
    border-color: #EDB852;
    height: 40px;
    width: 100px;
    font-weight: bold;
    text-shadow: none;
    margin-top: 35px;
    font-size: 19px;
    cursor: pointer;
  
  
  }
  
  button[type="submit"]
  {
  font-family: 'Friz Quadrata Std', sans-serif;
  color:#c2b191;
  background: #232525;
  border-color: #EDB852;
  height: 40px;
  width: 100px;
  font-weight: bold;
  text-shadow: none;
  margin-top: 35px;
  font-size: 19px;
  cursor: pointer;
  
  }
::-webkit-scrollbar {
    display: none;
    
    }
.home_title2{
      font-family: 'Friz Quadrata Std', sans-serif;
      font-size: 200%;
      text-align: center;
      position: absolute;
      top: 0%;
      left: 80%;
      transform: translate(-50%, -50%);
      color:#EDB852;
      text-shadow: 3px 3px #000000;
      
}
.ammo-page-background {
background-image: url('https://cdn.discordapp.com/attachments/1007749002248327178/1011739216465629224/hideout.png');
background-size: cover;
height: 100vh;
overflow-y: scroll;
position: absolute;
width: 100%;
}

.ammo-detail-bg {
  background-image: url('https://cdn.discordapp.com/attachments/1007749002248327178/1011742051915800768/hideout2.png');
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  }
.ammo-chart{
  font-family: 'Friz Quadrata Std', sans-serif;
  width: 25%;
  border: 3px solid;
  border-color: #EDB852;
  color:#c2b191;
  text-shadow: 2px 2px #000000;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  background: #1d1c1c
}
.traderbg{
background-image: url('https://cdn.discordapp.com/attachments/1007749002248327178/1011759845394874459/woodsbg.png');
background-size: cover;
height: 100vh;
overflow-y: scroll;
position: absolute;
width: 100%;
filter:blur(0)
}
.signuphome{
  font-family: 'Friz Quadrata Std', sans-serif;
  text-shadow: 2px 2px #000000;
  color:#EDB852;
  text-decoration: none;
  font-size: 30px;
}
.loginhome{
  font-family: 'Friz Quadrata Std', sans-serif;
  text-shadow: 2px 2px #000000;
  color:#EDB852;
  text-decoration: none;
  font-size: 30px;
 
}
.loginbox {
  margin-top: 50px;
  text-align: center;
  }
.signupbox{
  margin-top: 400px
}
.alias{
  font-family: 'Friz Quadrata Std', sans-serif;
  text-shadow: 2px 2px #000000;
  color:#EDB852;
  text-decoration: none;
  font-size: 30px;
}
.ammo-link-div{
  margin-top: 25px;
}
.tarkovlogo{

 margin-left: 500px;
 height: 250px;
}

.bgtdrimg{
background-image: url('https://cdn.discordapp.com/attachments/1007749002248327178/1011759845394874459/woodsbg.png');
background-size: cover;
height: 100vh;
overflow-y: scroll;
position: absolute;
width: 100%;
}
.armorbg{
  background-image: url('https://cdn.discordapp.com/attachments/1007749002248327178/1012042624309411980/armorbg.png');
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
}
.armor-name{
  font-family: 'Friz Quadrata Std', sans-serif;
  text-shadow: 2px 2px #000000;
  color:#EDB852;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
}
.armor-card-wrapper{
  width: 98.97%;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  text-align: center;
}
.bgarmorimg{
  background-image: url('https://cdn.discordapp.com/attachments/1007749002248327178/1012042624309411980/armorbg.png');
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
}
.armorname{
  font-family: 'Friz Quadrata Std', sans-serif;
  text-shadow: 3px 3px #000000;
  color:#EDB852;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}
.armorpageimg{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  border: 2px solid #EDB852;
  display: flex;
  align-items: center;
  box-shadow: 0 0 100px #000000, 0 0 6px hsl(40deg 73% 66% / 80%);
}
.armor-chart{
  font-family: 'Friz Quadrata Std', sans-serif;
  width: auto;
  border: 3px solid;
  border-color: #EDB852;
  color:#c2b191;
  text-shadow: 2px 2px #000000;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  table-layout: fixed;
  background: #1d1c1c
}