.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.questtable {
  font-family: 'Friz Quadrata Std', sans-serif;
  width: 25%;
  border: 3px solid;
  border-color: #EDB852;
  color:#c2b191;
  text-shadow: 2px 2px #000000;
  font-size: 20px;
  margin-left: 558px;
  margin-top: -140px;
  background: #1d1c1c;
  justify-content: space-evenly;
}